using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Routing;
using {{packageName}}.Endpoints;

namespace {{packageName}}.Contracts.Extensions;

public static class EndpointExtensions
{
    /// <summary>
    /// Registers all API endpoints from the Contracts package.
    /// </summary>
    /// <param name="endpoints">The endpoint route builder.</param>
    /// <returns>The endpoint route builder for chaining.</returns>
    public static IEndpointRouteBuilder AddApiEndpoints(this IEndpointRouteBuilder endpoints)
    {
        {{#apiInfo}}
        {{#apis}}
        {{classname}}Endpoints.Map{{classname}}Endpoints(endpoints.MapGroup("{{#commonPath}}{{commonPath}}{{/commonPath}}{{^commonPath}}/{{/commonPath}}"));
        {{/apis}}
        {{/apiInfo}}
        
        return endpoints;
    }
}
